/* Resete e básicos*/
:root{
    --vermelho: #e50914;
    --preto: #141414;
    --branco: #fff;
    --cinza: #aaa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--preto);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--branco);
}

/* Cabeçalho*/

header .container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--branco);
}

/* Filme proncipal*/

.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/elementary-capa.jpg');
    height: 500px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.filme-principal .container{
    width: 70%;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.filme-principal .descricao{
    margin-bottom: 20px;
}

.button{
    background-color:rgba(0,0,0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button:hover{
    background-color:var(--branco);
    color: var(--preto);
    transition: .5s ease all;
}

.button i {
    margin-right: 7px;
}

.box-filme{
    width: 440px;
    display: block;
}

.carrosel-filmes{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
    padding: 5px;
}

/* Resposive*/

@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 80%;
    }
}